/* || Main stylesheet for Dmurring.com || */

/* ****** General ****** */
h1 {
  font-size:50px;
}

h1,h2,h3 {
  font-family: 'Quicksand', sans-serif;
  font-weight:bold;
}

p, li{
  font-size:18px;
  color:#000000;
}

a {
  color:#5D4B5E;
}

a:hover {
  color:#79687A;
}

/* ****** Special formatting ****** */
.footnote {
  font-size:15px;
  color:#353536;
  font-style:italic;
}


/* ****** Site elements ****** */
.navbar {
  font-family: 'Quicksand', sans-serif;
  font-weight:bold;
  font-size:15px;
  position:absolute:
}

      .navbar div {
          margin:5px;
          float:left;
          clear:none;
      }

      #nav-name {
        height:40px;
      }

      .nav-items {
        list-style-type:none;
      }

      .nav-item {
        margin-left:10px;
        display:inline;
      }

      .glyphicon-upload {
        font-size:25px;
      }

#header {
  margin-bottom:25px;
  margin-top:25px;
}

      #headshot {
        border-radius:50%;
        width:200px;
        height:200px;
      }

      #headshot-nav {
        width:40px;
        height:40px;
        border-radius:50%;
      }

      #name-desktop {
        width:650px;
        margin-left:-20px;
      }

      #name-mobile {
        width:100%;
      }

.section-break{
  border-bottom:1px dashed #748287;
  padding:10px 0px 10px 0px;
}

.line-break {
  border-bottom:1px solid #000000;
  padding:10px 0px 10px 0px;
}

.aac-line-break {
  border-bottom:1px solid #000000;
  padding: 0px;
}

.padded-list {
  padding-bottom:7px;
}

.footer p{
  padding-top:10px;
  text-align:center;
  font-size:14px;
}
