/* || Toolkit of commonly-used styles and tweaks || */

/* ****** Layout and alignment ****** */

.center {
	align-items:center;
}

.center-div
{
     position: absolute;
     margin: auto;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     width: 100px;
     height: 100px;
}

.clear-both {
	clear:both;
}

.text-right {
	text-align:right;
}

.text-center {
	text-align:center;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}



/* ****** Decorative ****** */
.thin-border {
	border: 1px solid #000000;
}
